<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{{ title }}</title>

<meta name="viewport" content="width=1280, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">

<meta name="author" content="Abraklion">
<meta name="description" content="{{ description }}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">
<link rel="stylesheet" href="assets/css/{{ link }}">

<link rel="icon" href="favicon.png" type="image/png">

<script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script defer src="js/{{ script }}"></script>
