@use "../variables" as v;

.contacts{
  background-color: v.$bg-body;
}

.contacts__inner{
  padding: 10px 0 75px 0;
}

.contacts__title{
  margin-bottom: 50px;
}

.contacts__map{
  width: 100%;

  border: none;

  box-shadow: 0 6px 16px 0 rgba(v.$primary2, 0.11);
}

.contacts__list{
  margin: 0 0 28px 37px;
}

.contacts__mode{
  margin: 0 0 5px 37px;

  font-size: 22px;
  line-height: 22px;

  color: v.$primary2;
}
