@use "../variables" as v;

.header{
  position: sticky;
  top: 0;
  z-index: 100;

  width: 100%;

  background-color: v.$white;

  box-shadow: 0 5px 19px 0 rgba(#1b2b4f, 0.14);
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
}

.header__logo{
  width: 307px;
  height: 47px;
}

.header__address{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 155px;
}
